.charEditBody{
    margin-bottom: 20vh;
}

.editButton{
    font-size: 10px;
}

.headlineRow{
    margin-bottom: 20px;
}

.inventoryItem{
    margin-bottom: 10px;
    font-size: 20px;
}

#fileSelect::file-selector-button{
    background-color: #0d6efd;
    color: white;
}